## Assignment 3

In [13]:
# create any random dict with 5 items 


amanda_data = {"name" : "Amanda", "gender" :"female", "is_sad" : False, "status" : "Available for Enjoyment", "age" : 21 }

In [14]:
# retrieve all keys at the same time 

print(amanda_data.keys())

dict_keys(['name', 'gender', 'is_sad', 'status', 'age'])

In [15]:
# retrieve all values at the same time 

print(amanda_data.values())

dict_values(['Amanda', 'female', False, 'Available for Enjoyment', 21])

In [18]:
# Create a random list that contains duplicate elements

colors = ["blue", "red", "yellow", "blue", "black", "red", "white", "black"]

print(colors)

['blue', 'red', 'yellow', 'blue', 'black', 'red', 'white', 'black']

In [27]:
# de- duplicate the list

colors_cleaned = set(colors)


# print to view cleaned list

print(colors_cleaned)

{'red', 'yellow', 'white', 'blue', 'black'}

In [29]:
# create a random tuple with 5 elements

sports = ("football", "swimming", "basketball", "tennis", "golf")


#check sports type 

print(type(sports))

<class 'tuple'>

In [62]:
# add one element to the tuple, first assign the list to a variable sports_added

sports_added = list(sports)

print(sports_added)

['football', 'swimming', 'basketball', 'tennis', 'golf']

In [63]:
# add the element to the tuple now 

sports_added.append("jogging") 


print(sports_added)

['football', 'swimming', 'basketball', 'tennis', 'golf', 'jogging']

In [64]:
# remove the first index of the tuple, first assign a variable sports_remove

sports_removed = list(sports_added)


print(sports_removed)

['football', 'swimming', 'basketball', 'tennis', 'golf', 'jogging']

In [65]:
# remove the first index

sports_removed.remove("football")


print(sports_removed)

['swimming', 'basketball', 'tennis', 'golf', 'jogging']

In [68]:
# change second index to another element

sports_removed[1] = "racing"

print(sports_removed)

['swimming', 'racing', 'tennis', 'golf', 'jogging']

In [70]:
# create a random set with 10 numbers

num = {12, 15, 10, 11, 50, 39, 48, 73, 22, 81}

print(num)

{39, 73, 10, 11, 12, 15, 48, 81, 50, 22}

In [76]:
# convert the set to list, start by checking the type .

print(type(num))

<class 'set'>

In [77]:
#converting to a list

num_lst = list(set(num))

In [78]:
print(type(num_lst))

<class 'list'>

In [79]:
 # count total element in list
    
print(len(num_lst))

10

In [81]:
# divide the result by 2

new_lst_result = len(num_lst) // 2

print(new_lst_result)

5

In [83]:
# check if the result is an int 

print(type(new_lst_result))

<class 'int'>