#### CONTROL FLOWS


#### Conditional Statements

In [2]:
print("a" == "b") #equality sign

False

In [3]:
print(5 != 3)  #not equal

True

In [4]:
print(4 > 3) #greater than

True

In [5]:
print(20 <= 20) #less than or equal to

True

In [6]:
print( 25 >= 100)

False

#### Logical Operators

#### * and
### * or

In [7]:
print(2 > 5 or 10 < 10)

False

In [8]:
print(2 > 5 or 10 == 10)

True

In [9]:
print(10 > 3 or 6 < 10)

True

In [10]:
print(10 < 100 or 6 < 10)

True

In [11]:
print(10 < 100 and 6 < 10)

True

In [12]:
print(10 >= 3 and 10 <= 10)

True

#### IF AND ELSE STATEMENTS

In [ ]:
if #condition to check :
    # action to perform

In [16]:
student_complete_assignment = True

In [18]:
if student_complete_assignment == True :
    print("You are eligible to be in the next class")

You are eligible to be in the next class

In [20]:
student_complete_assignment = True

In [21]:
print(student_complete_assignment == True)

True

In [22]:
if student_complete_assignment == True :
    print("You are eligible to be in the next class")
else : 
    print("You are not eligible to be in the next class")

You are eligible to be in the next class

In [23]:
student_complete_assignment = False

In [24]:
if student_complete_assignment == True :
    print("You are eligible to be in the next class")
else : 
    print("You are not eligible to be in the next class")

You are not eligible to be in the next class

In [28]:
number = 100

In [30]:
if number >= 10 :
    print("That's too expensive")
else:
    print("That's cheap")

That's too expensive

In [9]:
amanda_age = 15

In [10]:
yinka_age = 15

In [11]:
if amanda_age > yinka_age:
    print("amanda is older than yinka")
elif amanda_age == yinka_age:
    print("They are of the same age")
else:
    print("yinka is older than amanda")

They are of the same age

In [13]:
print("""Welcome to this movie website, 
please this movies contain some abusive language,
You need to be older than 18, please parental guide is advised.""")
      
customer_age = int(input("How old are you:  "))
print("Checking customer age for eligibility, hold on a sec")

if customer_age >= 18:
      print("Welcome, you are eligible to watch this movie")
else:
      print("Please, you are too young to watch this movie")

Welcome to this movie website,
please this movies contain some abusive language,
You need to be older than 18, please parental guide is advised.
How old are you:  20
Checking customer age for eligibility, hold on a sec
Welcome, you are eligible to watch this movie

## GUESSING GAME SYSTEM

In [12]:
# import time for the time sleep function
# import random to generate random numbers

import time
import random

actual_magic_number = random.randint(1, 100)

user_name = input("What is your first name: ")
user_magic_number = int(input("Please provide your magic number: "))

print("Please Wait and see if you have the lucky number")
time.sleep(5)
if user_magic_number == actual_magic_number:
    print(f"Hooray, {user_name}, the magic number is {actual_magic_number}, you just won a jackpot !!!!")
else:
    print(f"Oops!!, wrong magic number {first_name}, the correct magic number is {actual_magic_number}, Please try again later.")

What is your first name: Amanda
Please provide your magic number: 44
Please Wait and see if you have the lucky number
Oops!!, wrong magic number Amanda, the correct magic number is 61, Please try again later.

In [1]:
name = "mayowa"

In [2]:
# we want to find a name that starts with m 


if name.startswith("m"):
    print("The name starts with m")
else: 
    print("The name does not start with m")

The name starts with m

In [3]:
if name[0] == "m": 
    print("The name starts with m")
else: 
    print("The name does not start with m")

The name starts with m


## Navigation System

In [ ]:
normal_commute_time = 30

is_raining = True 

is_traffic = True

#### For Loop

##### This is a concept in python that allows us to iterate/ go over a sequence like list, tuple, dictionary, string, set

In [5]:
students =["mayowa", "amanda", "segun", "jekwu", "yinka", "chinyere", "joachim"]

In [6]:
for names in students:
    print(names)

mayowa
amanda
segun
jekwu
yinka
chinyere
joachim

In [7]:
for x in students:
    print(len(x))

6
6
5
5
5
8
7

In [11]:
for numbers in range(1, 11):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [12]:
students =["mayowa", "amanda", "segun", "jekwu", "yinka", "chinyere", "joachim"]

In [14]:
for people in students:
    print(f"How are you {people}, you are welcome")

How are you mayowa, you are welcome
How are you amanda, you are welcome
How are you segun, you are welcome
How are you jekwu, you are welcome
How are you yinka, you are welcome
How are you chinyere, you are welcome
How are you joachim, you are welcome

In [15]:
for dudes in students:
    if dudes.startswith("j"):
        print(dudes)

jekwu
joachim

In [16]:
for dudes in students:
    if dudes.startswith("j"):
        print(dudes)
    else:
        print(f"The name doesn't starts with j, this students name is {dudes}")

The name doesn't starts with j, this students name is mayowa
The name doesn't starts with j, this students name is amanda
The name doesn't starts with j, this students name is segun
jekwu
The name doesn't starts with j, this students name is yinka
The name doesn't starts with j, this students name is chinyere
joachim

In [21]:
numbers = [2,5,8,23,15,11,10.5,9,4,7,2,1]

In [22]:
for n in numbers:
    if n > 10:
        print(n)

23
15
11
10.5

In [23]:
numbers = [2,5,8,23,15,11,10.5,9,4,7,2,1]

In [30]:

values_less_than_10 = []
values_greater_equal_10 = []


for numerics in numbers:
    if numerics < 10:
        values_less_than_10.append(numerics)
    else:
        values_greater_equal_10.append(numerics)

In [31]:
print(values_less_than_10)

[2, 5, 8, 9, 4, 7, 2, 1]

In [32]:
print(values_greater_equal_10)

[23, 15, 11, 10.5]

#### modulo usage %

In [1]:
numbers = [2,5,4,6,8,7,9,7,10,5]

In [2]:
# Every even number % 2 will always remain 0 and every odd number % 2 will always remain 1

In [3]:
print(33 % 2)

1

In [4]:
print(100 % 2)

0

In [5]:
numbers = [2,5,4,6,8,7,9,7,10,5]

In [6]:
for n in numbers:
    if n % 2 == 0:
        print(n)

2
4
6
8
10

In [9]:
empty_list = []

for n in numbers:
    if n % 2 == 0:
        empty_list.append(n)

In [10]:
print(empty_list)

[2, 4, 6, 8, 10]

### CALCULATOR

In [25]:
arithematic_type = input(""""
            What arithmetic do you want to do,
            press a for Addition,
            press m for Multiplication,
            press s for Subtraction,
            press d for Division:   """).lower()

first_number = int(input("Please input your first number:  "))
second_number = int(input("Please input your second number: "))

if arithematic_type == "a":
    print(first_number + second_number)
elif arithematic_type == "s":
    print(first_number - second_number)
else:
    print(first_number / second_number)
# you can use elif arithematic _type =="a"


# for subtraction add elif 
# use else for the last condition to close up

"
            What arithmetic do you want to do,
            press a for Addition,
            press m for Multiplication,
            press s for Subtraction,
            press d for Division:   d
Please input your first number:  8
Please input your second number: 4
2.0

In [24]:
arithematic_type = input(""""
            What arithmetic do you want to do,
            press a for Addition,
            press m for Multiplication,
            press s for Subtraction,
            press d for Division:   """).lower()

first_number = float(input("Please input your first number:  "))
second_number = int(input("Please input your second number: "))

if arithematic_type == "a":
    print(first_number + second_number)
elif arithematic_type == "s":
    print(first_number - second_number)
else:
    result = first_number / second_number
    if str(result).endswith("0"):
        print(int(result))
    else:
        print(result)
# you can use elif arithematic _type =="a"


# for subtraction add elif 
# use else for the last condition to close up

"
            What arithmetic do you want to do,
            press a for Addition,
            press m for Multiplication,
            press s for Subtraction,
            press d for Division:   d
Please input your first number:  8
Please input your second number: 4
2

In [19]:
age = [23, 5, 3, 24, 7, 10, 15, 3, 17, 29, 28, 29, 30, 50, 100, 105]

In [20]:
for n in age:
    if n % 2 == 0 and n > 10:
        print(n)

24
28
30
50
100

In [21]:
# another method using nested if statement

for n in age:
    if n > 10 :
        if n % 2 == 0:
            print(n)

24
28
30
50
100

### WHILE LOOP

In [ ]:
x = 5

while x < 10:
    print("hello")
    x = 6 + 1

In [ ]:
actual_pin = 1212
user_pin = None
pin_input_attempt = 0
pin_attempt_limit = 2

while actual_pin != user_pin:
    user_pin = int(input("Please input your 4 digit PIN: "))
    if actual_pin != user_pin and pin_attempt_limit == pin_input_attempt:
        print("Your card has been blocked, please visit the nearest branch to unblock it")
        break
        
        pin_input_attempt = pin_input_attempt + 1
        
    else:
        print("welcome")

In [30]:
names = ["mayowa", "joachim", "segun", "amanda", "chinyere"]

In [31]:
for x in names:
    if "a" in x:
        print(x)

mayowa
joachim
amanda