## PYTHON DATA STRUCTURES

##### . List
##### . Dictionary
##### . Tuple
##### . Set

#### List

In [5]:
students = ["mayowa", "chukwu", "yinka", "amanda", "chinyere", "Joachim"]

In [6]:
print(students)

['mayowa', 'chukwu', 'yinka', 'amanda', 'chinyere', 'Joachim']

In [7]:
print(type(students))

<class 'list'>

In [8]:
age = [23, 12, 19, 45, 35, 5]

In [9]:
print(age)

[23, 12, 19, 45, 35, 5]

In [10]:
print(type(age))

<class 'list'>

In [11]:
mayowa_info = ["mayowa", 13, "Data Engineer", True, 5.8]

In [12]:
print(type(mayowa_info))

<class 'list'>

###### indexing / positioning

M A Y O W A 

1 2 3 4 5 6      # human numbering

0 1 2 3 4 5       # python numbering

In [14]:
# items in a list is called element

cars = ["toyota", "bmw", "benz", "honda"]

In [15]:
print(cars[1])

bmw

In [16]:
print(cars[2])

benz

In [17]:
print(cars[3])

honda

In [19]:
print(cars[0])

toyota

In [21]:
# obviously failed due to list doesnt have index/position 4

print(cars[4])

IndexError: list index out of range

In [22]:
cars = ["toyota", "bmw", "benz", "honda"]

In [23]:
print(cars[-1])

honda

In [24]:
print(len(cars))

4

In [25]:
name = "mayowa"

In [26]:
print(len(name))

6

In [27]:
age = 45

In [28]:
print(len(age))

TypeError: object of type 'int' has no len()

In [29]:
bad_age_definition = "45"

In [30]:
print(len(bad_age_definition))

2

In [31]:
lst = [" ", "25", 38,"yellow"]

In [32]:
print(lst[0])

### slicing

In [1]:
random_list = [1, 2, 5, 10, 2]

In [4]:
print(random_list[0:3])

[1, 2, 5]

In [5]:
print(random_list[:3])

[1, 2, 5]

In [6]:
print(random_list[1:4])

[2, 5, 10]

In [7]:
print(random_list[2:])

[5, 10, 2]

In [8]:
name = "Chinyere the boss lady"

In [9]:
print(len(name))

22

In [10]:
print(name[0:8])

Chinyere

#### Element Changing

In [11]:
num = [1, 4, 2]

In [12]:
num[0] = 10

In [13]:
print(num)

[10, 4, 2]

In [14]:
num[-1] = 20

In [15]:
print(num)

[10, 4, 20]

#### adding elements

In [16]:
fruits = ["pineapple", "apple", "banana"]

In [17]:
fruits.append("cherry")

In [18]:
print(fruits)

['pineapple', 'apple', 'banana', 'cherry']

In [19]:
cart = []

In [20]:
cart.append("SHINY LEATHER JACKET")

In [21]:
print(cart)

['SHINY LEATHER JACKET']

In [22]:
cart.append("jacket", "shirt")

TypeError: list.append() takes exactly one argument (2 given)

In [23]:
print(cart)

['SHINY LEATHER JACKET']

In [24]:
cars = ["bmw", "benz"]

In [25]:
cars.remove("benz")

In [26]:
print(cars)

['bmw']

In [27]:
cars.remove("amanda")

ValueError: list.remove(x): x not in list

### sorting elements

In [28]:
alphabets = ["e", "b", "a", "c", "d"]

In [29]:
alphabets.sort()

In [30]:
print(alphabets)

['a', 'b', 'c', 'd', 'e']

In [31]:
numbers = [3, 6, 4, 8, 2, 9, 34]

In [34]:
numbers.sort(reverse=True)

In [35]:
print(numbers)

[34, 9, 8, 6, 4, 3, 2]

In [36]:
dates = ["2023-12-04", "2023-12-01", "2023-12-03", "2023-12-02", "2023-12-10"]

In [37]:
dates.sort(reverse =True)

In [38]:
print(dates)

['2023-12-10', '2023-12-04', '2023-12-03', '2023-12-02', '2023-12-01']

### Range Function

In [43]:
long_list = range(1, 101)

In [44]:
print(long_list)

range(1, 101)

In [45]:
print(list(long_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [46]:
short_list = range(5, 20)

In [47]:
print(list(short_list))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### Dictionary

In [1]:
basic_dict = {"name" : "mayowa"}

In [2]:
mayor_data = {"name": "mayowa", "age":12, "is_married": True, "job": "Data Engineer"}

In [3]:
print(mayor_data)

{'name': 'mayowa', 'age': 12, 'is_married': True, 'job': 'Data Engineer'}

In [4]:
print(type(mayor_data))

<class 'dict'>

### Retrieving Dictionary Values

In [5]:
print(mayor_data["age"])

12

In [6]:
print(mayor_data["job"])

Data Engineer

In [7]:
print(mayor_data["name"])

mayowa

In [8]:
print(type(mayor_data["name"]))

<class 'str'>

In [9]:
print("my name is mayowa, i am 12 years old, it is true that I am married and I work as a Data Engineer")

my name is mayowa, i am 12 years old, it is true that I am married and I work as a Data Engineer

In [10]:
# using string interpolation

print(f"My name is {mayor_data['name']}, I am {mayor_data['age']} years old, it is {mayor_data['is_married']} that I am married and I work as a {mayor_data['job']}")

My name is mayowa, I am 12 years old, it is True that I am married and I work as a Data Engineer

In [11]:
score = {"maths": 24, "english": 40}

In [12]:
print(score["english"])

40

In [13]:
print(score["english"] // 2)

20

In [14]:
new_score = round(score["english"] /2)

In [15]:
print(new_score)

20

In [16]:
score = {"maths": 24, "english" : 40}

In [17]:
print(score["maths"])

24

In [19]:
print(score.get("maths"))

24

In [20]:
print(score.get("Literature"))

None

In [21]:
print(score["Literature"])

KeyError: 'Literature'

In [22]:
score = {"maths": 24, "english" : 40}

In [23]:
print(score.get("maths", 34))

24

In [24]:
students = {"mayowa" : 22, "chinyere": 11, "segun": 23}

In [25]:
print(students.get("chinyere"))

11

In [26]:
print(students.get("segun"))

23

In [27]:
students = {"mayowa" : 22, "chinyere": 11, "segun": 23}

In [28]:
print(len(students))

3

In [32]:
print(students.keys())

dict_keys(['mayowa', 'chinyere', 'segun'])

In [33]:
print(students.values())

dict_values([22, 11, 23])

In [35]:
print(students.items())

dict_items([('mayowa', 22), ('chinyere', 11), ('segun', 23)])

In [36]:
students = {"mayowa" : 22, "chinyere": 11, "segun": 23}

In [38]:
students["mayowa"] = 50

In [39]:
print(students)

{'mayowa': 50, 'chinyere': 11, 'segun': 23}

In [40]:
students["segun"] = "boy"

In [41]:
print(students)

{'mayowa': 50, 'chinyere': 11, 'segun': 'boy'}

In [42]:
students.update({"chukwu" : 24})

In [43]:
print(students)

{'mayowa': 50, 'chinyere': 11, 'segun': 'boy', 'chukwu': 24}

In [44]:
students.pop("chinyere")

11

In [45]:
print(students)

{'mayowa': 50, 'segun': 'boy', 'chukwu': 24}

### TUPLE

In [1]:
names = ("mayowa" , "segun", "jekwu")

In [2]:
print(type(names))

<class 'tuple'>

In [3]:
names.append("chichi")

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
names = ("mayowa" , "segun", "jekwu")

In [5]:
print(names[0])

mayowa

In [12]:
converted_tuple = list(names)

In [13]:
print(converted_tuple)

['mayowa', 'segun', 'jekwu']

In [14]:
converted_tuple[0] = "uche"

In [15]:
print(converted_tuple)

['uche', 'segun', 'jekwu']

In [16]:
print(type(names))

<class 'tuple'>

### tuple unpacking

In [17]:
names = ("mayowa", "segun")

In [21]:
(student1, student2) = names

In [22]:
print(student1)

mayowa

In [23]:
print(student2)

segun

### SET

In [24]:
numbers = {10, 4 , 6, 8, 4}

In [25]:
print(numbers)

{8, 10, 4, 6}

In [26]:
# we use set to de-duplicate, like you are removing duplicates

num = {2, 4, 6, 3, 2, 5, 4, 2, 1}

In [27]:
print(num)

{1, 2, 3, 4, 5, 6}

In [28]:
lst = ["mayor", "jekwu", "mayor", "chichi", "chichi"]

In [29]:
print(lst)

['mayor', 'jekwu', 'mayor', 'chichi', 'chichi']

In [30]:
de_duplicate = set(lst)

In [31]:
print(de_duplicate)

{'jekwu', 'mayor', 'chichi'}

In [32]:
final_lst = list(de_duplicate)

In [33]:
print(final_lst)

['jekwu', 'mayor', 'chichi']